{% extends "pages/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<div style = "background-color: #E9E7EA;
      width:400px;
      max-width: 100%;
      margin-bottom:100px;
      margin-left:200px;

      

      padding:50px;
      box-shadow: 0 10px 20px #858585;
      display: grid;
      justify-content: center;">
<center>
<div>
<img src= "static/images/nen.jpg" style="width:100px; height:100px; object-fit: cover; border-radius: 50%;"/>
</div>
</center> 
<br>
<div>
<p>Họ và tên : Phan Huy Long</p>
<p>Năm sinh : 2002</p>
<p>Trường : Đại học Đông Á</p>
</div>
</div>

{% endblock %}