{% extends "pages/base.html" %}

{% block title %} tintuc {% endblock %}

{% block content %}
<div class="container" style = "
      width:800px;
      max-width: 100%;
      margin:auto;
      padding:50px;
      grid-template-columns: 35% 60%;
      column-gap: 5%;
      justify-content: center;">
    <center><h1>Xin Chào</h1></center>
<br/>
    <div style= "text-align: center; color: blue;">
        <h2> Chào mừng đến với tin tức hôm nay  </h2>
    </div>
<br/> 
<center>
<table>
    <tr>
        <th><img src="https://static-images.vnncdn.net/files/publish/2023/2/9/thu-tuong-14-553.jpg" style="height: 250px; align-items: center; text-align:center;border:3px solid black;"></th>

    </tr>
</table>
</center>
<br/> 
  <h3>Thủ tướng Lý Hiển Long chủ trì Lễ đón Thủ tướng Phạm Minh Chính thăm Singapore</h3>
<br/> 
    <div style= " color: grey; margin-top: 5px; margin-bottom: 100px; margin-right: 10px; margin-left: 10px; ">
        <h5>Trưa 9/2, trong không khí trang nghiêm, tại dinh Istana.</h5>
       <h5>Thủ tướng Singapore Lý Hiển Long chủ trì Lễ đón Thủ tướng Phạm Minh Chính, Phu nhân Lê Thị Bích Trân cùng Đoàn đại biểu cấp cao Việt Nam thăm chính thức Đảo quốc Sư tử.</h5>
    </div>
</div>
{% endblock %}